{% extends "base.html" %} {% load static %} {% block body %}
<section class="container-fluid section1 section-f1">
    <div class="container">
        <div class="row">
            <div class="offset-sm-3 col-sm-6">

                <div class="card">
                    <h3 class="card-header">Select a customer to view customer profile</h3>
                    <div class="card-block" style="padding: 20px;">
                        <form action="{% url 'show_customer_data' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <select id="customer_id" class="form-control" required="required" name="customer_id">
                                            <option value="">Select A Customer </option>
                                           {% for customer_id in customer_ids  %}
                                            <option value="{{customer_id}}"> Customer : {{customer_id}}</option>
                                           {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="View Customer Profile" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock body %} {% block js %} {% endblock js %}